<div class="row expanded footer">
  <div class="row footer-top small-up-2 medium-up-4 large-up-4">
    <div class="column no-padd">
      <ul class="vertical-list menu vertical">
        <li><h4>NAVIGATION</h4></li>
        [[pdoMenu?
            &parents=`0`
            &level=`1`
            &resources=`-4`
            &tplOuter=`@INLINE [[+wrapper]]`
            &parentClass=`menu`
            &tplParentRow=`@INLINE <li><a href="[[+link]]">[[+menutitle]]</a><ul class="menu vertical nested">[[+wrapper]]</ul></li>`
            &tpl=`@INLINE <li[[+classes]]><a href="[[+link]]">[[+menutitle]]</a></li>[[+wrapper]]`
        ]]
        <!--<li><a href="">Home</a></li>
        <li><a href="">Über uns</a></li>
        <li><a href="">Produkti</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Kontakt</a></li>-->
      </ul>
    </div>
    <div class="column no-padd">
      <ul class="vertical-list menu vertical" data-accordion-menu>
        <li><h4>KATEGORIEN</h4></li>
        [[pdoMenu?
            &parents=`42`
            &level=`4`
            &tplOuter=`@INLINE [[+wrapper]]`
            &parentClass=`menu`
            &tplParentRow=`@INLINE <li><a href="[[+link]]">[[+menutitle]]</a><ul class="menu vertical nested">[[+wrapper]]</ul></li>`
            &tpl=`@INLINE <li[[+classes]]><a href="[[+link]]">[[+menutitle]]</a></li>[[+wrapper]]`
        ]]
        <!--<li><a href="">AUTO Parfüme</a></li>
        <li><a href="">LUX Parfüme</a></li>
        <li><a href="">HAUS Parfüme</a></li>-->
      </ul>
    </div>
    <div class="column no-padd">
      <ul class="vertical-list menu vertical">
        <li><h4>SERVICE</h4></li>
        <li>
          <div class="media-object">
            <div class="media-object-section service-text middle">
              <p>30 Tage Widerrufsrecht</p>
            </div>
            <div class="media-object-section service-icon">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section service-text middle">
              <p>Versandkostenfrei</p>
            </div>
            <div class="media-object-section service-icon">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section service-text middle">
              <p>Weltweiter Versand</p>
            </div>
            <div class="media-object-section service-icon">
              <i class="fa fa-plane" aria-hidden="true"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="column no-padd">
      <ul class="vertical-list menu vertical">
        <li><h4>INFORMATION</h4></li>
        <li>
          <div class="media-object">
            <div class="media-object-section service-text middle">
              <p>Bahnhofstrasse 39 9200 Gossau SG</p>
            </div>
            <div class="media-object-section service-icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section service-text middle">
              <p>+4176 576 78 90</p>
              <p>+4179 159 99 23</p>
            </div>
            <div class="media-object-section service-icon">
              <i class="fa fa-phone-square" aria-hidden="true"></i>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section service-text middle">
              <p>info@jr-handel.ch</p>
            </div>
            <div class="media-object-section service-icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
          </div>
        </li>
      </ul>
      <!--<ul class="vertical-list menu vertical">
        <li><h4>NEWSLETTER</h4></li>
        <li><p class="nw-leter">Für die neuesten Informationen, melden Sie sich für den Newsletter</p></li>
        <li>
          <div class="media-object newsletter">
            <div class="media-object-section service-text middle">
              <input type="text" name="" value="" placeholder="Ihre Email-Adresse">
            </div>
            <div class="media-object-section">
              <a href="" class="button">Senden</a>
            </div>
          </div>
        </li>
      </ul>-->
    </div>
  </div>
  <div class="row">
    <div class="top-menu footer-version no-padd column">
        <ul class="menu float-left">
          <li><i class="fa fa-phone-square" aria-hidden="true"></i> +4176 576 78 90</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i> info@jr-handel.ch</li>
          <li>
            <ul class="social-icons menu">
              <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>
        <p class="float-right">Copyright © 2017 HandelsGesellschaft</p>
    </div>
  </div>

</div>
