<div class="row expanded header">
  <div class="row">
    <div class="top-menu no-padd column">
        <ul class="menu float-left">
          <li><i class="fa fa-phone-square" aria-hidden="true"></i> +4176 576 78 90</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i> info@jr-handel.ch</li>
          <li>
            <ul class="social-icons menu">
              <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>
        <div class="search media-object float-right">
          <form id="my_id" action="[[~26]]" method="[[+method:default=`get`]]">
          <div class="media-object-section middle">
            <input id="searchField" type="search" name="pretraga" placeholder="" >
          </div>
          <div class="media-object-section middle">
            <input id="searchIcon" class="button" type="image" alt="Search" src="[[++putanja]]assets/img/search-icon.png">
          </div>
          <input  type="hidden" name="id" value="[[+landing:default=[[26]]]]" />
          </form>
        </div>
    </div>
  </div>
</div>
<div class="row expanded main-header">
  <div class="row">
    <div class="main-menu no-padd column">
      <img class="logo float-left show-for-large" src="[[++putanja]]assets/img/logo.png" alt="">
      <img class="logo float-left show-for-medium-only" src="[[++putanja]]assets/img/logo1.png" alt="">
      <ul class="desk-menu dropdown menu float-right" data-dropdown-menu>
        [[pdoMenu?
                &parents=`0`
                &level=`3`
                &tplOuter=`@INLINE [[+wrapper]]`
                &parentClass=`menu`
                &tplParentRow=`@INLINE <li><a href="[[+link]]" [[+attributes]]>[[+menutitle]]</a><ul class="menu">[[+wrapper]]</ul></li>`
                &tpl=`@INLINE <li[[+classes]]><a href="[[+link]]" [[+attributes]]>[[+menutitle]]</a></li>[[+wrapper]]`
            ]]
        <!--<li><a href="">Home</a></li>
        <li><a href="">Über uns</a></li>
        <li><a href="">Produkti</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Kontakt</a></li>-->
      </ul>
    </div>
  </div>
</div>
<div class="row mob-header">
  <div class="mob-menu column">
    <img class="logo-mob float-left" src="[[++putanja]]assets/img/logo1.png" alt="">
    <i class="fa fa-bars fa-2x float-right"  aria-hidden="true" type="button" data-open="offCanvas"></i>
  </div>
</div>


<div class="off-canvas position-right" id="offCanvas" data-transition="push" data-off-canvas>

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="logo-part column">
      <br><br>
      <img class="logo-mob" src="[[++putanja]]assets/img/logo2.png" alt="">
      <br><br><br>
    </div>
    <div class="search-wrapper column">
      <div class="search media-object">
        <form id="my_id" action="[[~26]]" method="[[+method:default=`get`]]">
        <div class="media-object-section middle">
          <input id="searchField" type="search" name="pretraga" placeholder="" >
        </div>
        <div class="media-object-section middle">
          <input id="searchIcon" class="button" type="image" alt="Search" src="[[++putanja]]assets/img/search-icon.png">
        </div>
        <input  type="hidden" name="id" value="[[+landing:default=[[26]]]]" />
        </form>
      </div>
    </div>


    <div class="menu-part column">
      <!-- Menu -->
      <ul class="vertical menu" data-accordion-menu>
        [[pdoMenu?
            &parents=`0`
            &level=`4`
            &tplOuter=`@INLINE [[+wrapper]]`
            &parentClass=`menu`
            &tplParentRow=`@INLINE <li><a href="[[+link]]">[[+menutitle]]</a><ul class="menu vertical nested">[[+wrapper]]</ul></li>`
            &tpl=`@INLINE <li[[+classes]]><a href="[[+link]]">[[+menutitle]]</a></li>[[+wrapper]]`
        ]]
      </ul>
    </div>
  </div>
