<div class="side-panel show-for-medium medium-4 large-3 column">

    <ul class="vertical-list side menu vertical">
      <li><h4>SERVICE</h4></li>
      <li>
        <div class="media-object">
          <div class="media-object-section service-text middle">
            <p>30 Tage Widerrufsrecht</p>
          </div>
          <div class="media-object-section service-icon">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="media-object">
          <div class="media-object-section service-text middle">
            <p>Versandkostenfrei</p>
          </div>
          <div class="media-object-section service-icon">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="media-object">
          <div class="media-object-section service-text middle">
            <p>Weltweiter Versand</p>
          </div>
          <div class="media-object-section service-icon">
            <i class="fa fa-plane" aria-hidden="true"></i>
          </div>
        </div>
      </li>
    </ul>

    <ul class="multilevel-accordion-menu vertical menu" data-accordion-menu>
      <li><h4>KATEGORIEN</h4></li>
      <br><br>
      [[pdoMenu?
          &parents=`42`
          &level=`4`
          &tplOuter=`@INLINE [[+wrapper]]`
          &parentClass=`menu`
          &tplParentRow=`@INLINE <li><a href="[[+link]]">[[+menutitle]]</a><ul class="menu vertical sublevel-1">[[+wrapper]]</ul></li>`
          &tpl=`@INLINE <li[[+classes]]><a href="[[+link]]">[[+menutitle]]</a></li>[[+wrapper]]`
      ]]
      <!--<li><a href="">AUTO Parfüme</a></li>
      <li><a href="">LUX Parfüme</a></li>
      <li><a href="">HAUS Parfüme</a></li>-->
    </ul>


    <ul class="vertical-list side menu vertical">
      <li><h4>KATALOG</h4></li>
      <br>
      <li>
        <div class="media-object">
          <div class="media-object-section service-text middle">
            <p>Katalog  May 2017</p>
          </div>
          <div class="media-object-section service-icon">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="media-object">
          <div class="media-object-section service-text middle">
            <p>Katalog  May 2017</p>
          </div>
          <div class="media-object-section service-icon">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="media-object">
          <div class="media-object-section service-text middle">
            <p>Katalog  May 2017</p>
          </div>
          <div class="media-object-section service-icon">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="media-object">
          <div class="media-object-section service-text middle">
            <p>Katalog  May 2017</p>
          </div>
          <div class="media-object-section service-icon">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
          </div>
        </div>
      </li>
    </ul>

</div>
