<div class="row expanded">
  <div class="autoplay show-for-medium">
    [[getImageList?
              &docid=`1`
              &tvname=`Gallery`
              &tpl=`slider`
              ]]
    <!--<div><img data-lazy="[[++putanja]]assets/img/slider1.jpg" alt=""></div>
    <div><img data-lazy="[[++putanja]]assets/img/slider2.jpg" alt=""></div>
    <div><img data-lazy="[[++putanja]]assets/img/slider3.jpg" alt=""></div>-->
  </div>
  <div class="autoplay2 show-for-small-only">
              [[getImageList?
                        &docid=`1`
                        &tvname=`Gallery-mob`
                        &tpl=`slider-mob`
                        ]]
    <!--<div><img data-lazy="[[++putanja]]assets/img/slider1.jpg" alt=""></div>
    <div><img data-lazy="[[++putanja]]assets/img/slider2.jpg" alt=""></div>
    <div><img data-lazy="[[++putanja]]assets/img/slider3.jpg" alt=""></div>-->
  </div>
</div>
